html

  head
    title Terra
    
    //scripts to include (defined in gulpfile)
    each url in vendorScripts
      script(src=url)
    script(src="scripts.js")
    
    //shader code (all .glsl files with ids corresponding to filename)
    each code, name in shaders
      script(type='text/x-shader' id=name)= code

  body
    #container(style="height:100%;width:100%")
