html

  head
    title Terra

    script(src="vendor/pixi.js")
    script(src="vendor/three.js")
    script(src="vendor/rhill-voronoi-core.js")
    script(src="vendor/orbit-controls.js")
    script(src="scripts.js")

  body
    #container(style="height:100%;width:100%")
